<!DOCTYPE html>
<html>
<head>
    <title>Sinatra Template</title>

    <link rel="stylesheet" href="/assets/application.css" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <%= yield %>
    <script src="/assets/application.js" type="text/javascript"></script>
</body>

